<IfModule mod_rewrite.c>
    RewriteEngine On

    # keenthemes.com
    # Redirecione todas as solicitações para o diretório "public"
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_expires.c>
    # Ativar o módulo de expirações
    ExpiresActive On

    # Definir uma data de expiração de 2 dias para arquivos JavaScript e CSS
    ExpiresByType application/javascript "access plus 2 months"
    ExpiresByType text/css "access plus 2 months"
</IfModule>
