#chat-box-body {
    z-index: 9998;
    position: relative;
}

#chat-box-body #chat-circle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transform: scale(1);
    border-radius: 10px;
}

#chat-box-body.show .chat-box {
    display: block;
}

#chat-box-body.show #chat-circle {
    z-index: 0;
    transform: scale(0);
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.be-1 {
    border-right: 1px solid #f3f6f9 !important;
}

.border-light {
    border-color: #f3f6f9 !important;
}

.border-light {
    border-color: #f3f6f9 !important;
}

/*---flexbox---*/
.flexbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flexbox .dropdown i {
    font-size: 1rem;
}

.flexbox>* {
    margin-left: 4px;
    margin-right: 4px;
}

.flexbox>*:last-child {
    margin-right: 0;
}

.flexbox>*:first-child {
    margin-left: 0;
}

.flexbox .list-inline>li {
    display: block;
}

.flexbox .dropdown a i {
    font-size: 1rem;
}

.box {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #EFEFFD;
}
